.features {
  background: var(--color-bg-white);
  padding-bottom: 47px;
  &-list {
    display: flex;
    justify-content: space-between;
    & li:not(:last-child) {
      margin-right: 30px;
    }

    &__items {
      width: 270px;
    }

    &__icon {
      background-color: var(--secondary-background);
      width: 270px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 30px;
      &-item {
        fill: var(--primary-text-color);
      }
    }
    &__title {
      font-weight: 700;
      font-size: 14px;
      line-height: 1.14;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      margin-bottom: 10px;
    }
    &__text {
      color: var(--text-color);
      font-size: 14px;
      line-height: 1.71;
      letter-spacing: 0.03em;
    }
  }
}
